In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("Orders2.csv",encoding='unicode_escape',skiprows=4)
df.head()

,Order ID,Order Date,Country,City,Branch,Lat,Lng,Customer First Name,Customer Last Name,Email,Phone Number,Category,Sub Category,Item,SalesPerson ID,Quantity,Unit Price,Discount,Status
0,1.0,1/1/2023,Syria,homs,hs01,34.7326,36.7136,lina,alrrashid,LINA.ALRRASHID@MAIL.COM,Tel: 5634962795,Tablet,Apple iPad,"iPad Pro 12.9""",N498,1.0,999.0,39.96,False
1,2.0,1/1/2023,Saudi Arabia,riyadh,rd01,24.7136,46.6753,omar,eurul,OMAR.EURUL@MAIL.COM,Tel: 5311455624,Smartphone,Samsung Galaxy,Galaxy S21 Ultra,X918,1.0,1199.0,119.90,True
2,3.0,1/1/2023,Saudi Arabia,riyadh,rd03,24.7743,46.7386,iman,iismaeil,IMAN.IISMAEIL@MAIL.COM,Tel: 5272740777,Digital Camera,Panasonic Lumix,Panasonic Lumix GH5,I036,1.0,1299.0,NaN,True
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4.0,1/1/2023,United Arab Emirates,abu dhabi,ad01,24.4539,54.3773,ahmad,rihan,AHMAD.RIHAN@MAIL.COM,Tel: 5783343440,Tablet,Samsung Galaxy Tab,Galaxy Tab A8,E804,2.0,199.0,27.86,True

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20004 entries, 0 to 20003
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Order ID             20000 non-null  float64
 1   Order Date           20000 non-null  object
 2   Country              20000 non-null  object
 3   City                 20000 non-null  object
 4   Branch               20000 non-null  object
 5   Lat                  20000 non-null  float64
 6   Lng                  20000 non-null  float64
 7   Customer First Name  20000 non-null  object
 8   Customer Last Name   20000 non-null  object
 9   Email                20000 non-null  object
 10  Phone Number         20000 non-null  object
 11  Category             20000 non-null  object
 12  Sub Category         20000 non-null  object
 13  Item                 20000 non-null  object
 14  SalesPerson ID       20000 non-null  object
 15  Quantity             20000 non-null  float64
 16  Unit Price           20000 non-null  float64
 17  Discount             18889 non-null  float64
 18  Status               20000 non-null  object
dtypes: float64(6), object(13)
memory usage: 2.9+ MB

In [5]:
df.dropna(how='all',inplace=True)

In [6]:
df.isnull().sum()

Order ID                  0
Order Date                0
Country                   0
City                      0
Branch                    0
Lat                       0
Lng                       0
Customer First Name       0
Customer Last Name        0
Email                     0
Phone Number              0
Category                  0
Sub Category              0
Item                      0
SalesPerson ID            0
Quantity                  0
Unit Price                0
Discount               1111
Status                    0
dtype: int64

In [7]:
df['City'] = df['City'].str.title()
df['Branch'] = df['Branch'].str.upper()
df['Email'] = df['Email'].str.lower()
df['Phone Number'] = df['Phone Number'].str.replace('Tel: ','')
df['Discount'] = df['Discount'].fillna(0)
df['Total Price'] = df['Quantity'] * df['Unit Price']

In [8]:
df

,Order ID,Order Date,Country,City,Branch,Lat,Lng,Customer First Name,Customer Last Name,Email,Phone Number,Category,Sub Category,Item,SalesPerson ID,Quantity,Unit Price,Discount,Status,Total Price
0,1.0,1/1/2023,Syria,Homs,HS01,34.7326,36.7136,lina,alrrashid,lina.alrrashid@mail.com,5634962795,Tablet,Apple iPad,"iPad Pro 12.9""",N498,1.0,999.0,39.96,False,999.0
1,2.0,1/1/2023,Saudi Arabia,Riyadh,RD01,24.7136,46.6753,omar,eurul,omar.eurul@mail.com,5311455624,Smartphone,Samsung Galaxy,Galaxy S21 Ultra,X918,1.0,1199.0,119.90,True,1199.0
2,3.0,1/1/2023,Saudi Arabia,Riyadh,RD03,24.7743,46.7386,iman,iismaeil,iman.iismaeil@mail.com,5272740777,Digital Camera,Panasonic Lumix,Panasonic Lumix GH5,I036,1.0,1299.0,0.00,True,1299.0
4,4.0,1/1/2023,United Arab Emirates,Abu Dhabi,AD01,24.4539,54.3773,ahmad,rihan,ahmad.rihan@mail.com,5783343440,Tablet,Samsung Galaxy Tab,Galaxy Tab A8,E804,2.0,199.0,27.86,True,398.0
5,5.0,1/1/2023,USA,Washington,WH01,38.9072,-77.0369,sami,altawil,sami.altawil@mail.com,5352774687,Headphones,Sennheiser HD,Sennheiser HD 450BT,Q149,1.0,129.0,3.87,True,129.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19999,19996.0,1/9/2023,Morocco,Casablanca,CS01,33.5731,7.5898,ahmad,iad,ahmad.iad@mail.com,5880578642,Gaming Console,Sony PlayStation,PlayStation 4 Pro,M210,1.0,399.0,11.97,True,399.0
20000,19997.0,1/9/2023,Syria,Homs,HS01,34.7326,36.7136,ali,kiali,ali.kiali@mail.com,5286384144,Smartwatch,Fossil Gen,Fossil Gen 6,Z826,2.0,299.0,59.80,True,598.0
20001,19998.0,1/9/2023,USA,Las Vegas,LV01,36.1699,-115.1398,husayn,salayk,husayn.salayk@mail.com,5463888674,Gaming Console,Sony PlayStation,PlayStation 2,K624,1.0,99.0,2.97,True,99.0
20002,19999.0,1/9/2023,Saudi Arabia,Jeddah,JD03,21.4858,39.1925,fatin,bahriin,fatin.bahriin@mail.com,5931562498,Headphones,JBL Live,JBL Live 500BT,Y368,1.0,99.0,3.96,True,99.0
20003,20000.0,1/9/2023,USA,Washington,WH01,38.9072,-77.0369,ahmad,shakur,ahmad.shakur@mail.com,5338549800,Smartwatch,Samsung Galaxy,Galaxy Watch Active 2,Y590,1.0,249.0,4.98,True,249.0

In [9]:
df.isnull().sum()

Order ID               0
Order Date             0
Country                0
City                   0
Branch                 0
Lat                    0
Lng                    0
Customer First Name    0
Customer Last Name     0
Email                  0
Phone Number           0
Category               0
Sub Category           0
Item                   0
SalesPerson ID         0
Quantity               0
Unit Price             0
Discount               0
Status                 0
Total Price            0
dtype: int64

In [10]:
df['Cost'] = df['Total Price'] - df['Discount']

In [11]:
df.insert(9,'Customer Full Name',df['Customer First Name'] + ' '+ df['Customer Last Name'] )

In [12]:
##############

In [13]:
df[df['Status']==True]
#df.query('Status==True')

,Order ID,Order Date,Country,City,Branch,Lat,Lng,Customer First Name,Customer Last Name,Customer Full Name,...,Category,Sub Category,Item,SalesPerson ID,Quantity,Unit Price,Discount,Status,Total Price,Cost
1,2.0,1/1/2023,Saudi Arabia,Riyadh,RD01,24.7136,46.6753,omar,eurul,omar eurul,...,Smartphone,Samsung Galaxy,Galaxy S21 Ultra,X918,1.0,1199.0,119.90,True,1199.0,1079.10
2,3.0,1/1/2023,Saudi Arabia,Riyadh,RD03,24.7743,46.7386,iman,iismaeil,iman iismaeil,...,Digital Camera,Panasonic Lumix,Panasonic Lumix GH5,I036,1.0,1299.0,0.00,True,1299.0,1299.00
4,4.0,1/1/2023,United Arab Emirates,Abu Dhabi,AD01,24.4539,54.3773,ahmad,rihan,ahmad rihan,...,Tablet,Samsung Galaxy Tab,Galaxy Tab A8,E804,2.0,199.0,27.86,True,398.0,370.14
5,5.0,1/1/2023,USA,Washington,WH01,38.9072,-77.0369,sami,altawil,sami altawil,...,Headphones,Sennheiser HD,Sennheiser HD 450BT,Q149,1.0,129.0,3.87,True,129.0,125.13
6,6.0,1/1/2023,Syria,Aleppo,AL01,36.2021,37.1343,ahed,salim,ahed salim,...,Smartwatch,Garmin Fenix,Garmin Fenix 6S,J431,1.0,499.0,4.99,True,499.0,494.01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19999,19996.0,1/9/2023,Morocco,Casablanca,CS01,33.5731,7.5898,ahmad,iad,ahmad iad,...,Gaming Console,Sony PlayStation,PlayStation 4 Pro,M210,1.0,399.0,11.97,True,399.0,387.03
20000,19997.0,1/9/2023,Syria,Homs,HS01,34.7326,36.7136,ali,kiali,ali kiali,...,Smartwatch,Fossil Gen,Fossil Gen 6,Z826,2.0,299.0,59.80,True,598.0,538.20
20001,19998.0,1/9/2023,USA,Las Vegas,LV01,36.1699,-115.1398,husayn,salayk,husayn salayk,...,Gaming Console,Sony PlayStation,PlayStation 2,K624,1.0,99.0,2.97,True,99.0,96.03
20002,19999.0,1/9/2023,Saudi Arabia,Jeddah,JD03,21.4858,39.1925,fatin,bahriin,fatin bahriin,...,Headphones,JBL Live,JBL Live 500BT,Y368,1.0,99.0,3.96,True,99.0,95.04
20003,20000.0,1/9/2023,USA,Washington,WH01,38.9072,-77.0369,ahmad,shakur,ahmad shakur,...,Smartwatch,Samsung Galaxy,Galaxy Watch Active 2,Y590,1.0,249.0,4.98,True,249.0,244.02

In [30]:
df.query('City=="Cairo" and Status==True')

,Order ID,Order Date,Country,City,Branch,Lat,Lng,Customer First Name,Customer Last Name,Customer Full Name,...,Category,Sub Category,Item,SalesPerson ID,Quantity,Unit Price,Discount,Status,Total Price,Cost
12,11.0,1/1/2023,Egypt,Cairo,CR03,30.0444,31.2357,eala,aljabaan,eala aljabaan,...,Laptop,Lenovo Legion,Lenovo Legion 5,B541,3.0,1099.0,0.00,True,3297.0,3297.00
13,12.0,1/1/2023,Egypt,Cairo,CR01,30.0444,31.2357,abd allatif,alghandur,abd allatif alghandur,...,Tablet,Samsung Galaxy Tab,Galaxy Tab S7,U983,1.0,649.0,64.90,True,649.0,584.10
28,27.0,1/1/2023,Egypt,Cairo,CR02,30.0444,31.2357,husam aldiyn,allaham,husam aldiyn allaham,...,Tablet,Amazon Fire,Amazon Fire HD 10,J431,1.0,149.0,10.43,True,149.0,138.57
49,47.0,1/1/2023,Egypt,Cairo,CR03,30.0444,31.2357,mazin,ayman,mazin ayman,...,Smart Speaker,JBL Link,JBL Link 20,X358,1.0,99.0,5.94,True,99.0,93.06
60,58.0,1/1/2023,Egypt,Cairo,CR02,30.0444,31.2357,suzan,alhamadii,suzan alhamadii,...,Smartphone,Xiaomi Redmi,Xiaomi Redmi Note 11 Pro,F340,2.0,299.0,0.00,True,598.0,598.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19908,19905.0,31/8/2023,Egypt,Cairo,CR02,30.0444,31.2357,iad,khayr,iad khayr,...,Gaming Console,Microsoft Xbox,Xbox Series X,A857,1.0,499.0,29.94,True,499.0,469.06
19911,19908.0,31/8/2023,Egypt,Cairo,CR02,30.0444,31.2357,qays,almarstani,qays almarstani,...,Smartphone,Apple iPhone,iPhone SE,S855,1.0,399.0,31.92,True,399.0,367.08
19915,19912.0,31/8/2023,Egypt,Cairo,CR02,30.0444,31.2357,qasim,rghid,qasim rghid,...,Smartwatch,Garmin Fenix,Garmin Fenix 7,U416,2.0,699.0,111.84,True,1398.0,1286.16
19920,19917.0,31/8/2023,Egypt,Cairo,CR01,30.0444,31.2357,rima,alqadi,rima alqadi,...,Smart Speaker,Bose Home Speaker,Bose Home Speaker 300,Y270,1.0,199.0,9.95,True,199.0,189.05
19941,19938.0,1/9/2023,Egypt,Cairo,CR01,30.0444,31.2357,suzan,aleisaa,suzan aleisaa,...,Headphones,Sennheiser HD,Sennheiser HD 599 SE,K492,2.0,199.0,31.84,True,398.0,366.16

In [31]:
df[df['Country']=='Saudi Arabia']
df[(df['Country']=='Saudi Arabia') & (df['Quantity']>10)]
df[(df['Category']=='Smartphone') | (df['Category']=='Laptop')]
df[df['Item'].str.contains('S21')]
df[df['Item'].str.startswith('Galaxy')]
df[df['Item'].str.endswith('Ultra')]

,Order ID,Order Date,Country,City,Branch,Lat,Lng,Customer First Name,Customer Last Name,Customer Full Name,...,Category,Sub Category,Item,SalesPerson ID,Quantity,Unit Price,Discount,Status,Total Price,Cost
33,31.0,1/1/2023,USA,New York,NY01,40.7128,-74.0060,muhamad,shbyb,muhamad shbyb,...,Smartphone,Samsung Galaxy,Galaxy S21 Ultra,F510,1.0,1199.0,47.96,False,1199.0,1151.04
78,75.0,1/1/2023,United Arab Emirates,Dubai,DB02,25.2048,55.2708,muhamad,bradey,muhamad bradey,...,Smartphone,Samsung Galaxy,Galaxy S21 Ultra,B966,1.0,1199.0,59.95,True,1199.0,1139.05
480,477.0,6/1/2023,France,Paris,PS02,48.8566,2.3522,ahmad,qadish,ahmad qadish,...,Smartphone,Samsung Galaxy,Galaxy S21 Ultra,F510,1.0,1199.0,47.96,True,1199.0,1151.04
509,506.0,7/1/2023,United Arab Emirates,Dubai,DB01,25.2048,55.2708,lamia,bilul,lamia bilul,...,Smartphone,Samsung Galaxy,Galaxy S21 Ultra,C539,3.0,1199.0,179.85,True,3597.0,3417.15
668,665.0,8/1/2023,Saudi Arabia,Jeddah,JD02,21.4858,39.1925,jamal,eubdallah,jamal eubdallah,...,Smartphone,Samsung Galaxy,Galaxy S21 Ultra,M210,1.0,1199.0,119.90,False,1199.0,1079.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18306,18303.0,11/8/2023,Saudi Arabia,Jeddah,JD01,21.5433,39.1728,ahmad,earmush,ahmad earmush,...,Smartphone,Samsung Galaxy,Galaxy S21 Ultra,L025,1.0,1199.0,59.95,True,1199.0,1139.05
18358,18355.0,12/8/2023,United Arab Emirates,Abu Dhabi,AD01,24.4539,54.3773,muhamad,alhaj ali,muhamad alhaj ali,...,Smartphone,Samsung Galaxy,Galaxy S21 Ultra,Z067,1.0,1199.0,119.90,False,1199.0,1079.10
18781,18778.0,17/8/2023,Syria,Homs,HS01,34.7326,36.7136,anwar,alqutb,anwar alqutb,...,Smartphone,Samsung Galaxy,Galaxy S21 Ultra,Q628,3.0,1199.0,251.79,True,3597.0,3345.21
18830,18827.0,18/8/2023,Saudi Arabia,Jeddah,JD01,21.5433,39.1728,eala,alsaedi,eala alsaedi,...,Smartphone,Samsung Galaxy,Galaxy S21 Ultra,W493,1.0,1199.0,35.97,True,1199.0,1163.03
19227,19224.0,23/8/2023,Saudi Arabia,Riyadh,RD01,24.7136,46.6753,sarih,jamul,sarih jamul,...,Smartphone,Samsung Galaxy,Galaxy S21 Ultra,B938,12.0,1199.0,719.40,False,14388.0,13668.60

In [35]:
df.loc[df['Status']==True,['Status','City']]

      Status        City
1       True      Riyadh
2       True      Riyadh
4       True   Abu Dhabi
5       True  Washington
6       True      Aleppo
...      ...         ...
19999   True  Casablanca
20000   True        Homs
20001   True   Las Vegas
20002   True      Jeddah
20003   True  Washington

[14013 rows x 2 columns]

In [37]:
df.loc[df['Status']==True,'City':'Status']
#df.loc[df['Status']==True,'City':]

,City,Branch,Lat,Lng,Customer First Name,Customer Last Name,Customer Full Name,Email,Phone Number,Category,Sub Category,Item,SalesPerson ID,Quantity,Unit Price,Discount,Status,Total Price,Cost
1,Riyadh,RD01,24.7136,46.6753,omar,eurul,omar eurul,omar.eurul@mail.com,5311455624,Smartphone,Samsung Galaxy,Galaxy S21 Ultra,X918,1.0,1199.0,119.90,True,1199.0,1079.10
2,Riyadh,RD03,24.7743,46.7386,iman,iismaeil,iman iismaeil,iman.iismaeil@mail.com,5272740777,Digital Camera,Panasonic Lumix,Panasonic Lumix GH5,I036,1.0,1299.0,0.00,True,1299.0,1299.00
4,Abu Dhabi,AD01,24.4539,54.3773,ahmad,rihan,ahmad rihan,ahmad.rihan@mail.com,5783343440,Tablet,Samsung Galaxy Tab,Galaxy Tab A8,E804,2.0,199.0,27.86,True,398.0,370.14
5,Washington,WH01,38.9072,-77.0369,sami,altawil,sami altawil,sami.altawil@mail.com,5352774687,Headphones,Sennheiser HD,Sennheiser HD 450BT,Q149,1.0,129.0,3.87,True,129.0,125.13
6,Aleppo,AL01,36.2021,37.1343,ahed,salim,ahed salim,ahed.salim@mail.com,5277356213,Smartwatch,Garmin Fenix,Garmin Fenix 6S,J431,1.0,499.0,4.99,True,499.0,494.01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19999,Casablanca,CS01,33.5731,7.5898,ahmad,iad,ahmad iad,ahmad.iad@mail.com,5880578642,Gaming Console,Sony PlayStation,PlayStation 4 Pro,M210,1.0,399.0,11.97,True,399.0,387.03
20000,Homs,HS01,34.7326,36.7136,ali,kiali,ali kiali,ali.kiali@mail.com,5286384144,Smartwatch,Fossil Gen,Fossil Gen 6,Z826,2.0,299.0,59.80,True,598.0,538.20
20001,Las Vegas,LV01,36.1699,-115.1398,husayn,salayk,husayn salayk,husayn.salayk@mail.com,5463888674,Gaming Console,Sony PlayStation,PlayStation 2,K624,1.0,99.0,2.97,True,99.0,96.03
20002,Jeddah,JD03,21.4858,39.1925,fatin,bahriin,fatin bahriin,fatin.bahriin@mail.com,5931562498,Headphones,JBL Live,JBL Live 500BT,Y368,1.0,99.0,3.96,True,99.0,95.04
20003,Washington,WH01,38.9072,-77.0369,ahmad,shakur,ahmad shakur,ahmad.shakur@mail.com,5338549800,Smartwatch,Samsung Galaxy,Galaxy Watch Active 2,Y590,1.0,249.0,4.98,True,249.0,244.02

In [41]:
#new column
df.loc[df['Status']==True,'Order Status']='Done'
df.loc[df['Status']==False,'Order Status']='Done'
df.loc[(df['Status']==False)& (df['Order Date']<='2023-01-01'),'Order Status']='Canceled'
df[['Status','Order Status']]

      Status Order Status
0      False     Canceled
1       True         Done
2       True         Done
4       True         Done
5       True         Done
...      ...          ...
19999   True         Done
20000   True         Done
20001   True         Done
20002   True         Done
20003   True         Done

[20000 rows x 2 columns]

In [45]:
def level(row):
  if row>1000:
    return 'High'
  else:
     return 'Low'

df['Cost Level']=df['Cost'].apply(level)
## lambda

In [46]:
#numpy where
#numpy -> np.where(condation,[x,y])

In [47]:
#df.to_csv(r'C:path',index=False)

In [48]:
#############################33

In [50]:
df.describe()

,Order ID,Lat,Lng,Quantity,Unit Price,Discount,Total Price,Cost
count,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000
mean,10000.500000,30.461665,11.339318,1.936750,609.292000,61.409582,1181.035250,1119.625668
std,5773.647028,8.126746,53.194139,2.288736,617.976051,142.165252,2272.317786,2155.068695
min,1.000000,18.231100,-115.149200,1.000000,29.000000,0.000000,29.000000,26.100000
25%,5000.750000,24.453900,2.352200,1.000000,179.000000,7.900000,229.000000,206.100000
50%,10000.500000,27.180900,37.134300,1.000000,399.000000,21.980000,499.000000,489.020000
75%,15000.250000,36.202100,42.500400,2.000000,899.000000,61.035000,1199.000000,1151.040000
max,20000.000000,48.856600,56.324200,13.000000,3999.000000,3999.000000,45487.000000,43667.520000

In [51]:
df['Quantity'].sum()

38735.0

In [57]:
df['Quantity'].mean()

1.93675

In [58]:
df['City'].unique()

array(['Homs', 'Riyadh', 'Abu Dhabi', 'Washington', 'Aleppo', 'Cairo',
       'Aseer', 'Las Vegas', 'Casablanca', 'Asyut', 'Paris', 'Jeddah',
       'New York', 'Damascus', 'Dubai', 'Dammam', 'Fujairah'],
      dtype=object)

In [65]:
df['Category'].value_counts()

Category        City
Tablet          Jeddah      347
VR Headset      Jeddah      344
Smartphone      Jeddah      340
Smart Speaker   Jeddah      328
Laptop          Jeddah      320
                           ...
Gaming Console  Fujairah     13
Smart Speaker   Fujairah     13
Smartwatch      Fujairah     12
VR Headset      Fujairah      8
Smartphone      Fujairah      7
Name: count, Length: 170, dtype: int64

In [55]:
df['Cost'].agg('sum')
df['Cost'].agg(['sum','mean','max','min'])

sum     2.239251e+07
mean    1.119626e+03
max     4.366752e+04
min     2.610000e+01
Name: Cost, dtype: float64

In [56]:
df[['Cost','Quantity']].agg(['sum','mean','max','min'])

              Cost     Quantity
sum   2.239251e+07  38735.00000
mean  1.119626e+03      1.93675
max   4.366752e+04     13.00000
min   2.610000e+01      1.00000

In [63]:
df.groupby('Country').size()  #like value_count

Country
Egypt                   2476
France                  1125
Morocco                  607
Saudi Arabia            6077
Syria                   2631
USA                     4226
United Arab Emirates    2858
dtype: int64

In [61]:
df.groupby(['Country','City']).size()
#df.groupby(['City','Country']).size()

Country               City
Egypt                 Asyut         1066
                      Cairo         1410
France                Paris         1125
Morocco               Casablanca     607
Saudi Arabia          Aseer          860
                      Dammam         491
                      Jeddah        3186
                      Riyadh        1540
Syria                 Aleppo        1157
                      Damascus       690
                      Homs           784
USA                   Las Vegas     1294
                      New York      2098
                      Washington     834
United Arab Emirates  Abu Dhabi     2271
                      Dubai          451
                      Fujairah       136
dtype: int64

In [66]:
df[['Country','City']].value_counts() #don't like groupby

Country               City
Saudi Arabia          Jeddah        3186
United Arab Emirates  Abu Dhabi     2271
USA                   New York      2098
Saudi Arabia          Riyadh        1540
Egypt                 Cairo         1410
USA                   Las Vegas     1294
Syria                 Aleppo        1157
France                Paris         1125
Egypt                 Asyut         1066
Saudi Arabia          Aseer          860
USA                   Washington     834
Syria                 Homs           784
                      Damascus       690
Morocco               Casablanca     607
Saudi Arabia          Dammam         491
United Arab Emirates  Dubai          451
                      Fujairah       136
Name: count, dtype: int64

In [70]:
df.groupby(['Country','City']).sum()  #work and sum strings and don't work in juptyer or (return numeric column only)
#df.groupby(['Country','City'])['Cost'].sum() --> work in juptyer

                                   Order ID  \
Country              City
Egypt                Asyut       10565438.0
                     Cairo       14103516.0
France               Paris       11354058.0
Morocco              Casablanca   6020059.0
Saudi Arabia         Aseer        8450209.0
                     Dammam       5111361.0
                     Jeddah      31639689.0
                     Riyadh      15445612.0
Syria                Aleppo      11899180.0
                     Damascus     6800343.0
                     Homs         7788159.0
USA                  Las Vegas   13072221.0
                     New York    20883667.0
                     Washington   8229922.0
United Arab Emirates Abu Dhabi   22785092.0
                     Dubai        4572982.0
                     Fujairah     1288492.0

                                                                        Order Date  \
Country              City
Egypt                Asyut       1/1/20231/1/20232/1/20232/1/20232/1/20232/1/20...
                     Cairo       1/1/20231/1/20231/1/20231/1/20231/1/20231/1/20...
France               Paris       1/1/20231/1/20231/1/20231/1/20231/1/20231/1/20...
Morocco              Casablanca  1/1/20231/1/20231/1/20231/1/20233/1/20233/1/20...
Saudi Arabia         Aseer       1/1/20231/1/20231/1/20231/1/20231/1/20231/1/20...
                     Dammam      1/1/20231/1/20231/1/20232/1/20232/1/20233/1/20...
                     Jeddah      1/1/20231/1/20231/1/20231/1/20231/1/20231/1/20...
                     Riyadh      1/1/20231/1/20231/1/20231/1/20231/1/20231/1/20...
Syria                Aleppo      1/1/20231/1/20231/1/20231/1/20232/1/20232/1/20...
                     Damascus    1/1/20231/1/20231/1/20231/1/20232/1/20232/1/20...
                     Homs        1/1/20231/1/20232/1/20232/1/20232/1/20232/1/20...
USA                  Las Vegas   1/1/20231/1/20231/1/20231/1/20231/1/20231/1/20...
                     New York    1/1/20231/1/20231/1/20231/1/20231/1/20231/1/20...
                     Washington  1/1/20231/1/20231/1/20231/1/20231/1/20231/1/20...
United Arab Emirates Abu Dhabi   1/1/20231/1/20231/1/20231/1/20231/1/20231/1/20...
                     Dubai       1/1/20231/1/20231/1/20231/1/20231/1/20232/1/20...
                     Fujairah    3/1/20233/1/20236/1/20236/1/20237/1/20237/1/20...

                                                                            Branch  \
Country              City
Egypt                Asyut       AT01AT01AT01AT01AT01AT01AT01AT01AT01AT01AT01AT...
                     Cairo       CR02CR03CR01CR02CR02CR03CR02CR02CR02CR03CR02CR...
France               Paris       PS01PS01PS01PS01PS01PS01PS01PS01PS02PS02PS01PS...
Morocco              Casablanca  CS01CS01CS01CS01CS01CS01CS01CS01CS01CS01CS01CS...
Saudi Arabia         Aseer       AS01AS01AS01AS01AS01AS01AS01AS01AS01AS01AS01AS...
                     Dammam      DM01DM01DM01DM01DM01DM01DM01DM01DM01DM01DM01DM...
                     Jeddah      JD01JD02JD02JD01JD01JD03JD02JD03JD02JD03JD01JD...
                     Riyadh      RD01RD03RD01RD01RD02RD01RD01RD01RD01RD01RD03RD...
Syria                Aleppo      AL01AL01AL01AL01AL01AL01AL01AL01AL01AL01AL01AL...
                     Damascus    DS02DS02DS02DS02DS02DS01DS01DS02DS01DS02DS02DS...
                     Homs        HS01HS01HS01HS01HS01HS01HS01HS01HS01HS01HS01HS...
USA                  Las Vegas   LV01LV01LV01LV01LV01LV01LV01LV01LV01LV01LV01LV...
                     New York    NY03NY03NY01NY03NY01NY03NY01NY02NY03NY03NY01NY...
                     Washington  WH01WH01WH01WH01WH01WH01WH01WH01WH01WH01WH01WH...
United Arab Emirates Abu Dhabi   AD01AD01AD02AD01AD02AD02AD02AD02AD03AD03AD02AD...
                     Dubai       DB01DB01DB02DB02DB02DB02DB02DB02DB02DB01DB02DB...
                     Fujairah    FJ01FJ01FJ01FJ01FJ01FJ01FJ01FJ01FJ01FJ01FJ01FJ...

                                        Lat          Lng  \
Country              City
Egypt                Asyut       28974.8394   33241.8242
                     Cairo       42362.6040   44042.3370
France               Paris       54963.6750    2646.2250
Morocco              Casablanca  20378.8717    4607.0086
Saudi Arabia         Aseer       15678.7460   36550.3440
                     Dammam      12958.8157   24539.0507
                     Jeddah      68520.6313  124844.3939
                     Riyadh      38103.1943   71926.1077
Syria                Aleppo      41885.8297   42964.3851
                     Damascus    23124.9764   25048.9042
                     Homs        27230.3584   28783.4624
USA                  Las Vegas   46803.5620 -148991.9446
                     New York    85458.4566 -155238.8512
                     Washington  32448.6048  -64248.7746
United Arab Emirates Abu Dhabi   55555.2819  123484.6603
                     Dubai       11367.3648   24927.1308
                     Fujairah     3417.4896    7660.0912

                                                               Customer First Name  \
Country              City
Egypt                Asyut       saharramafarasjamaldieaiilyasmahirhusayndianah...
                     Cairo       muhamadealaabd allatifhusam aldiynhusammazinsu...
France               Paris       muhamadmuhamadaliasramajdylamarimlamaailyamuha...
Morocco              Casablanca  shahadlwymarijihadkhadijahzayduneubaydamuhamad...
Saudi Arabia         Aseer       fadiakthumemaraduhanaemammahirduhanamazinealaa...
                     Dammam      omarayhamkhalilantuanehabbakrmuhamadalidiaahma...
                     Jeddah      muhamadmuhamadalaalilasfaraslwnatariqmuhamadah...
                     Riyadh      omarimanamirafadikhalidlanasabahabd alrazzaqra...
Syria                Aleppo      ahedhusaynsalamrimmuhamadmuhamadthamirmuhamadl...
                     Damascus    alialaazaynalmuetazramilwyranyaayhamranaahmada...
                     Homs        linaduhanatanamuwmindijwarahmadomarfadimazinhu...
USA                  Las Vegas   muhamadmuhamadomarrwbynalamamuwminahmadrabye'm...
                     New York    muhamadmuwminmuhamadrahafkhalidfullasalimkhali...
                     Washington  samizahirmajidanwartariqabd alruhminjalaljuryr...
United Arab Emirates Abu Dhabi   ahmadmuhamadrwbynajwnymajdabd alruhminhasandie...
                     Dubai       iintariqfarasmuhamadsanduranaiinmuhamadmuhamad...
                     Fujairah    muhamadmujdirazaanrabyamuhamadalmuthanaamumina...

                                                                Customer Last Name  \
Country              City
Egypt                Asyut       kharasahmaerufhamuwdsybeamuayidalshaykhalkhayr...
                     Cairo       bitahishaljabaanalghandurallahamearabiaymanalh...
France               Paris       zaetarmuayidkiwanabualqadihadalahalmisribrnbua...
Morocco              Casablanca  eyd bndqjyalhasanaleisaamaerufklizlialmisrialk...
Saudi Arabia         Aseer       aljabaanhaydarshiahalmalaqisamaljujualhabisalk...
                     Dammam      dawaraalmalatyrueurmanalghumyanklizlimiuseashu...
                     Jeddah      bydeurmandwalybyaghasieazizakhalifihalmisrialk...
                     Riyadh      euruliismaeilalrahilahmaddbshujahqaziyhanunaju...
Syria                Aleppo      salimeubaydalhizaehamdanaleabdiidlibieisaamuha...
                     Damascus    iismaeilaleaqlabwalsibaehmshwhujahalealbieitay...
                     Homs        alrrashidaljabralmalahannawataralhasaneuthmana...
USA                  Las Vegas   eurmanalaleppoyzynyqisamaldiynaltaynawijamulab...
                     New York    zaqzuqalsamanshbybiybwabuearabiastitiheilwanty...
                     Washington  altawilalmunajidhishanalayaaymanmalikhajlkhali...
United Arab Emirates Abu Dhabi   rihanzawalsalhanyalrifaeieilwanalaishhabkhalfs...
                     Dubai       kafaaldiynabu eadlhbradeyalrifaeialghazizakari...
                     Fujairah    mukiinabu zamilabwnqatakarimebdalwahdsakareata...

                                                                Customer Full Name  \
Country              City
Egypt                Asyut       sahar kharasahrama maeruffaras hamuwdjamal syb...
                     Cairo       muhamad bitahisheala aljabaanabd allatif algha...
France               Paris       muhamad zaetarmuhamad muayidali kiwanasra abum...
Morocco              Casablanca  shahad eyd bndqjylwy alhasanmari aleisaajihad ...
Saudi Arabia         Aseer       fadi aljabaanakthum haydaremara shiahduhana al...
                     Dammam      omar dawaraayham almalakhalil tyruantuan eurma...
                     Jeddah      muhamad bydmuhamad eurmanalaa dwalybylilas agh...
                     Riyadh      omar euruliman iismaeilamira alrahilfadi ahmad...
Syria                Aleppo      ahed salimhusayn eubaydsalam alhizaerim hamdan...
                     Damascus    ali iismaeilalaa aleaqlazayn bwalsibaealmuetaz...
                     Homs        lina alrrashidduhana aljabrtana almalamuwmin h...
USA                  Las Vegas   muhamad eurmanmuhamad alaleppoyomar zynyrwbyna...
                     New York    muhamad zaqzuqmuwmin alsamanmuhamad shbybrahaf...
                     Washington  sami altawilzahir almunajidmajid hishananwar a...
United Arab Emirates Abu Dhabi   ahmad rihanmuhamad zawalrwbyna salhanyjwny alr...
                     Dubai       iin kafatariq aldiynfaras abu eadlhmuhamad bra...
                     Fujairah    muhamad mukiinmujdi abu zamilrazaan abwnqatara...

                                                                             Email  \
Country              City
Egypt                Asyut       sahar.kharasah@mail.comrama.maeruf@mail.comfar...
                     Cairo       muhamad.bitahish@mail.comeala.aljabaan@mail.co...
France               Paris       muhamad.zaetar@mail.commuhamad.muayid@mail.com...
Morocco              Casablanca  shahad.eyd bndqjy@mail.comlwy.alhasan@mail.com...
Saudi Arabia         Aseer       fadi.aljabaan@mail.comakthum.haydar@mail.comem...
                     Dammam      omar.dawara@mail.comayham.almala@mail.comkhali...
                     Jeddah      muhamad.byd@mail.commuhamad.eurman@mail.comala...
                     Riyadh      omar.eurul@mail.comiman.iismaeil@mail.comamira...
Syria                Aleppo      ahed.salim@mail.comhusayn.eubayd@mail.comsalam...
                     Damascus    ali.iismaeil@mail.comalaa.aleaqla@mail.comzayn...
                     Homs        lina.alrrashid@mail.comduhana.aljabr@mail.comt...
USA                  Las Vegas   muhamad.eurman@mail.commuhamad.alaleppoy@mail....
                     New York    muhamad.zaqzuq@mail.commuwmin.alsaman@mail.com...
                     Washington  sami.altawil@mail.comzahir.almunajid@mail.comm...
United Arab Emirates Abu Dhabi   ahmad.rihan@mail.commuhamad.zawal@mail.comrwby...
                     Dubai       iin.kafa@mail.comtariq.aldiyn@mail.comfaras.ab...
                     Fujairah    muhamad.mukiin@mail.commujdi.abu zamil@mail.co...

                                                                      Phone Number  \
Country              City
Egypt                Asyut       5074545757580926205358528256295517090877507305...
                     Cairo       5705221103572508130056475340565345184897508909...
France               Paris       5891898352514262489051228178465037538145506740...
Morocco              Casablanca  5066425618512483570752520412395616554637559064...
Saudi Arabia         Aseer       5271157029564921789555358806715538116114537491...
                     Dammam      5883193232575953175956436568315331028196550563...
                     Jeddah      5326430239510746869057151670655277786111525476...
                     Riyadh      5311455624527274077756534671095923514383564995...
Syria                Aleppo      5277356213571536974059921660095420204828587837...
                     Damascus    5835136476587560334458970506895967938548512390...
                     Homs        5634962795583382264759795959635261604536599036...
USA                  Las Vegas   5011035056552055886952412505565005862331545127...
                     New York    5064468564511478363154888921885491607554564102...
                     Washington  5352774687515156582656166155425196386412564137...
United Arab Emirates Abu Dhabi   5783343440508074866650370622575073584006566424...
                     Dubai       5315580289517700984952027100655416347570563951...
                     Fujairah    5283743578536616168154398101495330418930536315...

                                 ...  \
Country              City        ...
Egypt                Asyut       ...
                     Cairo       ...
France               Paris       ...
Morocco              Casablanca  ...
Saudi Arabia         Aseer       ...
                     Dammam      ...
                     Jeddah      ...
                     Riyadh      ...
Syria                Aleppo      ...
                     Damascus    ...
                     Homs        ...
USA                  Las Vegas   ...
                     New York    ...
                     Washington  ...
United Arab Emirates Abu Dhabi   ...
                     Dubai       ...
                     Fujairah    ...

                                                                              Item  \
Country              City
Egypt                Asyut          Amazon Fire 7 QC35 IISony Alpha A6400Nikon ...
                     Cairo       Anker   Soundcore   Liberty   Air   2   Pro   ...
France               Paris        Sennheiser HD 660S  OnePlus  10  Pro  Fitbit ...
Morocco              Casablanca   Garmin   Fenix   7HP Reverb G2 OmniceptWithin...
Saudi Arabia         Aseer         Envy   x360  Sony  Cyber-shot  RX100  VII   ...
                     Dammam      HTC Vive Cosmos EliteNikon Coolpix P1000OnePlu...
                     Jeddah      Lenovo Tab M10 FHD Plus   Huawei Watch GT 3 Pr...
                     Riyadh      Galaxy  S21  Ultra  Panasonic Lumix GH5 Panaso...
Syria                Aleppo       Garmin   Fenix   6S   Sony Alpha A6400Huawei ...
                     Damascus       MacBook   Air   13"   ASUS ROG Zephyrus G14...
                     Homs          iPad   Pro   12.9" Anker Soundcore Liberty A...
USA                  Las Vegas     Fossil Gen 5E  QC35 IIASUS ROG Strix Scar 17...
                     New York       JBL Live 500BT Anker Soundcore Liberty Air ...
                     Washington   Sennheiser   HD   450BT  Apple  HomePod  mini...
United Arab Emirates Abu Dhabi    Galaxy Tab A8   Galaxy  Tab  A7 Sony   WH-CH7...
                     Dubai       Nest AudioSonos MoveAmazon Fire 7Galaxy S21 Ul...
                     Fujairah    QC45JBL Link 20HP Pavilion x360Nikon Z7 IIBose...

                                                                    SalesPerson ID  \
Country              City
Egypt                Asyut       G449N658B265C787H016G267F064Y449H868E663K492R5...
                     Cairo       R389B541U983J431L025X358F340P344O247Y247L841E3...
France               Paris       S691W336V236U646Y270E365C793U290I470X906C780E4...
Morocco              Casablanca  G033Y940J408J345R664Y989Q903N664F693V138L043B2...
Saudi Arabia         Aseer       I974S783X209J264E715X610J753N985B112L571T371V3...
                     Dammam      Z502C787P255I917L700C308P826D873Q963T351S735W2...
                     Jeddah      D241H574R660L700Z227Y998Y446H574J345Z764N969M1...
                     Riyadh      X918I036S190O247R252S501D873F792D873K406S855R8...
Syria                Aleppo      J431K923S348Y518N639R236Y998Z524F693R389T332Y2...
                     Damascus    U470L106H016S395E437X915X847S988R159H320Y720R8...
                     Homs        N498X906G599X358W243Y493Y270Z398J431D297V236T3...
USA                  Las Vegas   N710W242X358S190I738L106K012R426G557L106U470Y3...
                     New York    J345Q832F510W493U646S855E804Z612L028E365J345E1...
                     Washington  Q149R236L106R021J073Y590C793W206K406J501Q963J0...
United Arab Emirates Abu Dhabi   E804T351H632P653Z764X856S149Y958B715M073I838I7...
                     Dubai       K140G229P412B966U806F340J087C793Z924L865A857Y4...
                     Fujairah    I876K012P255C308J302R664X384B608Q717K012R621Z1...

                                Quantity Unit Price   Discount  Status  \
Country              City
Egypt                Asyut        2004.0   652234.0   64479.72     751
                     Cairo        2653.0   870030.0   84529.53     965
France               Paris        2201.0   672175.0   68264.71     767
Morocco              Casablanca   1179.0   373873.0   40041.03     441
Saudi Arabia         Aseer        1653.0   551020.0   58188.55     598
                     Dammam        985.0   303619.0   32744.03     352
                     Jeddah       6167.0  1941374.0  194997.44    2222
                     Riyadh       2989.0   950890.0   97584.83    1077
Syria                Aleppo       2138.0   668973.0   61357.19     840
                     Damascus     1300.0   400690.0   35719.73     475
                     Homs         1525.0   472436.0   45202.68     555
USA                  Las Vegas    2505.0   807366.0   80660.85     911
                     New York     4209.0  1273192.0  128688.80    1485
                     Washington   1578.0   520276.0   53327.41     595
United Arab Emirates Abu Dhabi    4555.0  1384719.0  145579.56    1569
                     Dubai         840.0   263039.0   28964.58     314
                     Fujairah      254.0    79934.0    7861.00      96

                                 Total Price        Cost  \
Country              City
Egypt                Asyut         1303546.0  1239066.28
                     Cairo         1621137.0  1536607.47
France               Paris         1366839.0  1298574.29
Morocco              Casablanca     771331.0   731289.97
Saudi Arabia         Aseer         1115557.0  1057368.45
                     Dammam         588095.0   555350.97
                     Jeddah        3719033.0  3524035.56
                     Riyadh        1835761.0  1738176.17
Syria                Aleppo        1217812.0  1156454.81
                     Damascus       705810.0   670090.27
                     Homs           878665.0   833462.32
USA                  Las Vegas     1576795.0  1496134.15
                     New York      2517641.0  2388952.20
                     Washington     998832.0   945504.59
United Arab Emirates Abu Dhabi     2716805.0  2571225.44
                     Dubai          543260.0   514295.42
                     Fujairah       143786.0   135925.00

                                                                      Order Status  \
Country              City
Egypt                Asyut       DoneCanceledCanceledDoneDoneCanceledCanceledDo...
                     Cairo       CanceledDoneDoneDoneCanceledDoneDoneDoneDoneCa...
France               Paris       DoneCanceledCanceledCanceledCanceledDoneDoneCa...
Morocco              Casablanca  DoneCanceledCanceledDoneDoneDoneDoneDoneDoneDo...
Saudi Arabia         Aseer       DoneDoneCanceledCanceledDoneCanceledDoneDoneCa...
                     Dammam      DoneDoneCanceledDoneCanceledDoneDoneDoneDoneDo...
                     Jeddah      DoneCanceledDoneCanceledDoneDoneDoneDoneDoneDo...
                     Riyadh      DoneDoneDoneCanceledCanceledCanceledDoneDoneDo...
Syria                Aleppo      DoneDoneDoneDoneDoneCanceledDoneDoneDoneDoneDo...
                     Damascus    CanceledCanceledDoneDoneCanceledCanceledDoneDo...
                     Homs        CanceledDoneDoneDoneDoneDoneDoneDoneDoneDoneDo...
USA                  Las Vegas   DoneCanceledDoneDoneCanceledCanceledDoneCancel...
                     New York    CanceledDoneCanceledDoneCanceledDoneDoneDoneDo...
                     Washington  DoneDoneDoneDoneDoneCanceledDoneDoneCanceledDo...

In [71]:
df.groupby(['Country','City'])['Cost'].sum()

Country               City
Egypt                 Asyut         1239066.28
                      Cairo         1536607.47
France                Paris         1298574.29
Morocco               Casablanca     731289.97
Saudi Arabia          Aseer         1057368.45
                      Dammam         555350.97
                      Jeddah        3524035.56
                      Riyadh        1738176.17
Syria                 Aleppo        1156454.81
                      Damascus       670090.27
                      Homs           833462.32
USA                   Las Vegas     1496134.15
                      New York      2388952.20
                      Washington     945504.59
United Arab Emirates  Abu Dhabi     2571225.44
                      Dubai          514295.42
                      Fujairah       135925.00
Name: Cost, dtype: float64

In [73]:
df.groupby(['Category','Sub Category'])['Cost'].agg(['sum','mean'])

                                         sum         mean
Category       Sub Category
Digital Camera Canon EOS           524884.93  2302.126886
               Canon EOS R Series  994800.69  4648.601355
               Fujifilm X Series   618678.74  2588.613975
               Nikon Coolpix       248769.54  1196.007404
               Nikon Z Series      530959.38  2516.395166
...                                      ...          ...
VR Headset     Oculus Rift S        77165.36   741.974615
               Pimax Vision        574762.12  1836.300703
               Samsung Odyssey     324338.63  2636.899431
               Sony PlayStation     50596.78   532.597684
               Valve Index         418041.13  2019.522367

[81 rows x 2 columns]

In [74]:
df.groupby(['Category','Sub Category']).agg({'Quantity':'sum','Unit Price':'mean'})

                                   Quantity   Unit Price
Category       Sub Category
Digital Camera Canon EOS              431.0  1411.719298
               Canon EOS R Series     432.0  2611.149533
               Fujifilm X Series      424.0  1543.351464
               Nikon Coolpix          396.0   627.605769
               Nikon Z Series         380.0  1588.099526
...                                     ...          ...
VR Headset     Oculus Rift S          163.0   499.000000
               Pimax Vision           628.0   968.648562
               Samsung Odyssey        229.0  1499.000000
               Sony PlayStation       177.0   299.000000
               Valve Index            401.0  1094.652174

[81 rows x 2 columns]

In [77]:
df.pivot_table(index='Country',columns='Category',values='Cost',aggfunc='sum') #defult mean

Category,Digital Camera,Fitness Tracker,Gaming Console,Headphones,Laptop,Smart Speaker,Smartphone,Smartwatch,Tablet,VR Headset
Country,,,,,,,,,,
Egypt,593535.04,50666.51,138484.20,154131.56,776175.87,69993.09,305610.90,121509.74,193014.41,372552.43
France,282946.34,23443.69,62317.65,64495.06,332971.50,37897.17,158653.52,57531.90,137718.94,140598.52
Morocco,178472.03,15099.95,21088.44,18913.30,199760.80,25169.57,78416.04,43221.89,42313.98,108833.97
Saudi Arabia,1736252.03,145454.13,300213.14,280768.67,1665240.16,194274.24,801215.55,328660.24,565889.71,856963.28
Syria,603124.01,59631.19,111215.84,122679.56,635301.06,86140.20,308289.20,143774.96,229910.79,359940.59
USA,1070768.56,104147.00,202280.38,181026.23,1202254.32,121053.37,607047.41,275275.16,429705.35,637033.16
United Arab Emirates,652640.11,56700.65,130205.68,128596.10,846813.85,115282.66,360576.44,146115.25,342853.53,441661.59

In [78]:
df.pivot_table(index='Country',columns='Category',values='Cost',aggfunc=('sum','mean'))

                               mean                                 \
Category             Digital Camera Fitness Tracker Gaming Console
Country
Egypt                   2569.415758      215.602170     556.161446
France                  2549.066126      200.373419     561.420270
Morocco                 3305.037593      251.665833     439.342500
Saudi Arabia            2760.337091      263.027360     514.063596
Syria                   2523.531423      237.574462     450.266559
USA                     2724.601934      250.956627     470.419488
United Arab Emirates    2364.638080      214.775189     452.103056

                                                                          \
Category              Headphones       Laptop Smart Speaker   Smartphone
Country
Egypt                 624.014413  2667.271031    304.317783  1091.467500
France                701.033261  2895.404348    364.395865  1311.186116
Morocco               331.812281  2528.617722    457.628545  1206.400615
Saudi Arabia          476.687046  2589.798072    311.836661  1311.318412
Syria                 449.375678  2344.284354    336.485156  1077.934266
USA                   450.314005  2483.996529    315.243151  1361.092848
United Arab Emirates  465.927899  2920.047759    401.681742  1278.639858

                                                                      sum  \
Category              Smartwatch       Tablet   VR Headset Digital Camera
Country
Egypt                 537.653717   794.297984  1526.854221      593535.04
France                509.131858   936.863537  1495.728936      282946.34
Morocco               645.102836   798.376981  1577.303913      178472.03
Saudi Arabia          580.671802   862.636753  1375.542986     1736252.03
Syria                 570.535556   782.009490  1373.819046      603124.01
USA                   691.646131   996.996172  1437.998104     1070768.56
United Arab Emirates  539.170664  1017.369525  1538.890557      652640.11

                                                                            \
Category             Fitness Tracker Gaming Console Headphones      Laptop
Country
Egypt                       50666.51      138484.20  154131.56   776175.87
France                      23443.69       62317.65   64495.06   332971.50
Morocco                     15099.95       21088.44   18913.30   199760.80
Saudi Arabia               145454.13      300213.14  280768.67  1665240.16
Syria                       59631.19      111215.84  122679.56   635301.06
USA                        104147.00      202280.38  181026.23  1202254.32
United Arab Emirates        56700.65      130205.68  128596.10   846813.85


Category             Smart Speaker Smartphone Smartwatch     Tablet VR Headset
Country
Egypt                     69993.09  305610.90  121509.74  193014.41  372552.43
France                    37897.17  158653.52   57531.90  137718.94  140598.52
Morocco                   25169.57   78416.04   43221.89   42313.98  108833.97
Saudi Arabia             194274.24  801215.55  328660.24  565889.71  856963.28
Syria                     86140.20  308289.20  143774.96  229910.79  359940.59
USA                      121053.37  607047.41  275275.16  429705.35  637033.16
United Arab Emirates     115282.66  360576.44  146115.25  342853.53  441661.59